<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rent a dog</title>
    <link rel="stylesheet" th:href="@{/styles/home.css}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
</head>

<body>
    <div>
        <nav class="nav nav-pills flex-column flex-sm-row bg-light">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo.jpg}" alt="dog Image" width="130" height="90">
            </a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{home}">Home</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{search}">Search</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4 active">Contract</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{registerdog}">Register Dog</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{login}">Log out</a>
        </nav>
    </div>
    <div class="col-md-12">
        <form class="row m-2">
            <div class="col-auto">
                <label for="inputSearchType" class="form-label-lg fw-bolder">Search By:</label>
            </div>
            <div class="col-auto">
                <select id="inputSearchType" class="form-select-lg">
                    <option value="contractId">Contract ID</option>
                    <option value="month">Month</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="inputKeyword" class="form-label-lg fw-bolder">Keyword:</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control-lg" id="inputKeyword">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            </div>
        </form>
    </div>
    <div id="mainContainer" class="container-fluid d-flex justify-content-center">
        <table class="table table-light table-hover table-bordered m-3">
            <thead>
                <tr>
                    <th scope="col">Contratct ID</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Renter</th>
                    <th scope="col">Create Date</th>
                    <th scope="col">Start Date Time</th>
                    <th scope="col">End Date Time</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>11/11/11</td>
                    <td>11/14/11 10:00</td>
                    <td>11/14/11 15:00</td>
                    <td>44</td>
                    <td>Finished</td>
                    <td><button type="submit" class="btn btn-primary disabled">Start</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>11/11/11</td>
                    <td>--</td>
                    <td>--</td>
                    <td>0</td>
                    <td>Waiting Aproval</td>
                    <td><button type="submit" class="btn btn-primary disabled">Start</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>11/11/11</td>
                    <td>--</td>
                    <td>--</td>
                    <td>0</td>
                    <td>Approved</td>
                    <td><button type="submit" class="btn btn-primary">Start</button></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>11/11/11</td>
                    <td>11/14/11 10:00</td>
                    <td>--</td>
                    <td>0</td>
                    <td>In Progress</td>
                    <td><button type="submit" class="btn btn-primary">Stop</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <form class="row m-2">
            <div class="col-auto">
                <label for="totalValue" class="form-label-lg fw-bolder">Total Value:</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control-lg" id="totalValue" readonly>
            </div>
        </form>
    </div>
    <footer>
        <p class="text-center">Copyright &copy;2022</p>
    </footer>
</body>

</html>