<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rent a dog</title>
    <link rel="stylesheet" th:href="@{/styles/register.css}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
</head>

<body>
    <div>
        <nav class="nav nav-pills flex-column flex-sm-row bg-light">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo.jpg}" alt="Bootstrap" width="130" height="90">
            </a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{home}">Home</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{search}">Search</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{contract}">Contract</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4 active">Register Dog</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{logout}">Log out</a>
        </nav>
    </div>
    <div class="m-5">
        <form class="row g-3"th:action="@{/registerdog}" method="post" th:object="${dogRequest}">
            <div th:if="${inputErrorMessage == 'T'}" class="alert alert-danger alert-dismissible fade show text-center"
                 role="alert" th:text="${errorMessage}">
            </div>
            <div class="col-md-4">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputName" th:field="*{name}">
                <div id="nameHelpBlock" class="form-text">
                    Enter dog name.
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputSize" class="form-label">Dog size</label>
                <select id="inputSize" name="inputSize" class="form-select" th:field="*{size}">
                    <option value="small" selected>Small</option>
                    <option value="medium" >Medium</option>
                    <option value="large" >Large</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputBreed" class="form-label">Breed</label>
                <select id="inputBreed" name="inputBreed" class="form-select" th:field="*{breed}">
                    <option th:each="breed : ${breedList}" th:value="${breed}" th:text="${breed}">
                </select>
            </div>
            <div class="col-md-12">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="4" th:field="*{description}"> </textarea>
                <div id="descriptionHelpBlock" class="form-text">
                    Include extra information about the dog (behaviour, friendly, active...) (400 characters allowed)
                </div>
            </div>
            <div class="col-md-2">
                <label for="inputPrice" class="form-label">Price per hour</label>
                <input type="number" class="form-control" id="inputPrice" name="inputPrice" th:field="*{price}">
            </div>
            <div class="col-md-10"></div>
            <div class="col-6">
                <fieldset class="p-2">
                    <legend class="col-form-label-lg">Availability:</legend>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="sunday" name="sunday" value=1 th:field="*{sunday}">
                        <label class="form-check-label" for="sunday">Sunday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="monday" name="monday" value=1 th:field="*{monday}">
                        <label class="form-check-label" for="monday">Monday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="tuesday" name="tuesday" value=1 th:field="*{tuesday}">
                        <label class="form-check-label" for="tuesday">Tuesday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="wednesday" name="wednesday" value=1 th:field="*{wednesday}">
                        <label class="form-check-label" for="wednesday">Wednesday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="thursday" name="thursday" value=1 th:field="*{thursday}">
                        <label class="form-check-label" for="thursday">Thursday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="friday" name="friday" value=1 th:field="*{friday}">
                        <label class="form-check-label" for="friday">Friday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="saturday" name="saturday" value=1 th:field="*{saturday}">
                        <label class="form-check-label" for="saturday">Saturday</label>
                    </div>
                </fieldset>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
        </form>
    </div>
    <div>
        <footer>
            <p class="text-center">Copyright &copy;2022</p>
        </footer>
    </div>
</body>

</html>