<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rent a dog</title>
    <link rel="stylesheet" th:href="@{/styles/search.css}">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
</head>

<body>
    <div>
        <nav class="nav nav-pills flex-column flex-sm-row bg-light">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo.jpg}" alt="Bootstrap" width="130" height="90">
            </a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{home}">Home</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4 active">Search</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{contract}">Contract</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{registerdog}">Register Dog</a>
            <a class="flex-lg-fill text-lg-center nav-link fs-4" th:href="@{logout}">Log out</a>
        </nav>
    </div>
    <div id="content" class="container-fluid">
        <div class="col-md-12">
            <form class="row m-2" th:action="@{/search}" method="post">
                <div class="col-auto">
                    <label for="inputSearchType" class="form-label fw-bolder">Search By:</label>
                </div>
                <div class="col-auto">
                    <select id="inputSearchType" class="form-select" name="inputSearchType">
                        <option value="dog">Dog Name</option>
                        <option value="breed">Breed</option>
                        <option value="size">Size</option>
                    </select>
                </div>
                <div class="col-auto">
                    <label for="inputKeyword" class="form-label fw-bolder">Keyword:</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="inputKeyword" name="inputKeyword">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn">Search</button>
                </div>
            </form>
        </div>
        <div th:if="${inputErrorMessage}" class="alert alert-danger alert-dismissible fade show text-center"
             role="alert" th:text="${errorMessage}">
        </div>
        <div class="row">
            <div class="col-md-3" th:each="dog:${dogList}">
                <div class="card">
                    <img th:src="|/images/dogs/${#strings.replace(dog.getDogBreed,' ','_')}.jpg|" class="card-img-top" alt="dog image"
                    height="276" width="174">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="|Name: ${dog.getDogName}|"></h5>
                        <p class="card-text text-center" th:text="|Breed: ${dog.getDogBreed} / Size: ${dog.getDogSize}|"></p>
                        <p class="card-text text-center" th:text="|Price per Hour: $${#numbers.formatDecimal(dog.getDogPriceHour,2,0)}|"></p>
                        <p class="card-text text-center" th:text="${dog.getDogDesc}"></p>
                        <p class="card-text text-center" th:text="|Availability: ${(dog.getAvailabilitySunday == 1 ? '|Sunday|' : ' ') +
                                                (dog.getAvailabilityMonday == 1 ? '|Monday|' : ' ') +
                                                (dog.getAvailabilityTuesday == 1 ? '|Tuesday|' : ' ') +
                                                (dog.getAvailabilityWednesday == 1 ? '|Wednesday|' : ' ') +
                                                (dog.getAvailabilityThursday == 1 ? '|Thursday|' : ' ') +
                                                (dog.getAvailabilityFriday == 1 ? '|Friday|' : ' ') +
                                                (dog.getAvailabilitySaturday == 1 ? '|Saturday|' : ' ')}|">Availability</p>
                        <form th:action="@{/cardfields}" method="post">
                            <input type="hidden" th:value="${dog.getDogId}" name="dogid" />
                            <div class="row g-2 m-1">
                                <div class="col-auto">
                                    <label for="inputDateTime" class="form-label">Select Date</label>
                                </div>
                                <div class="col-auto">
                                    <input type="date" class="form-control col-auto" id="inputDateTime" name="inputDateTime">
                                </div>
                            </div>
                            <div class="row g-2 m-1">
                                <div class="col-auto">
                                    <label for="inputStartTime" class="form-label">Start Time</label>
                                </div>
                                <div class="col-auto">
                                    <input type="time" class="form-control" id="inputStartTime" name="inputStartTime">
                                </div>
                            </div>
                            <div class="row g-2 m-1">
                                <div class="col-auto">
                                    <label for="inputEndTime" class="form-label">End Time</label>
                                </div>
                                <div class="col-auto">
                                    <input type="time" class="form-control" id="inputEndTime" name="inputEndTime">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btn-lg">Rent</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <footer>
            <p class="text-center">Copyright &copy;2022</p>
        </footer>
    </div>
</body>

</html>