body {
    background-image: radial-gradient(white, darkkhaki);
    height: auto;
    width: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}