body {
    background-image: radial-gradient(white, darkkhaki);
    height: 100vh;
}

#content {
    padding-top: 1%;
    /* padding-bottom: 3%; */
    /* padding-left: 4%; */
}

.card {
    margin-bottom: 2%;
}

/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
} */